<!DOCTYPE html>
<html lang="en">
<head>
  <title>Weblog</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "trix" %>
  <%= stylesheet_link_tag "actiontext" %>

  <%= javascript_importmap_tags %>
</head>

<body>

<div id="wrapper">
<!--<div id="wrapper" class="container mx-auto grid grid-flow-row gap-4 grid-rows-3 grid-cols-3">-->
  <header class="bg-green-50 col-span-12">
    <div id="logo">
      <h1>Logo</h1>
    </div>
    <nav>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores aspernatur consectetur cupiditate debitis delectus, deserunt eligendi fuga fugiat, incidunt nihil, odio perspiciatis porro quae quidem rerum sapiente sequi temporibus!
    </nav>
  </header>

  <aside class="bg-amber-50 col-span-3">
    aside
  </aside>

  <main class="bg-red-50 col-span-9">
    <%= yield %>
  </main>

  <footer class="bg-blue-50 col-span-12">
    footer
  </footer>
</div>


<%# todo temporary %>
<%# if signed_in? %>
<!--  Signed in as: <%#= current_user.email %>-->
<%#= button_to 'Sign out', sign_out_path, method: :delete %>
<%# else %>
<%#= link_to 'Sign in', sign_in_path %>
<%# end %>
<%# todo end %>

<%#= yield %>
</body>
</html>
